@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap');

.epilogue-400 {
  font-family: "Epilogue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.epilogue-500 {
  font-family: "Epilogue", serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}

.epilogue-700 {
  font-family: "Epilogue", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
